
/* +++++++++++++++++++++++++++++ */
*{
    font-family: 'Raleway', sans-serif;
}

.one{
    background-image: url('../assets/images/port.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* navbar */

.nav-wrapper{
    padding-left: 8rem;
    padding-right: 8rem; 
}

.brand-logo img{
    width: 5rem !important;
    background: black;
    margin: 0.5rem;
}

.ul-two li a{
    background: black;
    margin: 0.5rem;
    font-family: 'Oslawd', sans-serif;
}

.name img{
    width: 45rem;
}

.name{
    padding-top: 8rem;
}

/* SCROLL DOWN ARROW */
.fa-angle-double-down {
    vertical-align: 8%;
  }

.nn{
    padding-top: 8rem;
}

.nn .btn-floating{
    display:block;
    margin:auto;
    border: 2px solid white;
}

#about, #portfolio, #connect {
	background: #5c2c3e;
    width: 100%;
	line-height: 150%;
}

/* sobre mi */

.photo{
    width: 16rem;
    height: 16rem;
}

.tittle-about {
    padding-top: 3rem !important;
    font-family: 'Oslawd', sans-serif;
}

.phone-about{
    padding-left: 15rem;
}

.about{
    height: 100vh;
}


/* portafolio */

.portfolio{
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.black-text{
    font-family: 'Oslawd', sans-serif;
    font-weight: bold;
    padding-bottom: 3rem;
}

.card {
    width: 60vw;
    min-width: 250px;
    margin: 2% auto 2% auto !important;
    text-align: left;
}

.card-wrapper {
    padding-top: 15%;
    padding-bottom: 10px;
}

.card-reveal {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.card-image{
    background-color: #5c2c3e !important;
    padding: 2rem;
}

.movil{
    height: 16rem;
    width: 10rem !important;
    display:block;
    margin:auto;
}

.viaggio{
    margin-top: 3rem;
    margin-top: 1.5rem;
}

.card-title{
    font-weight: bold !important;
    font-family: 'Oslawd', sans-serif;
}
.buttonn{
    color: #5c2c3e !important;
    font-weight: bold;
    font-family: 'Oslawd', sans-serif;
}

@media screen and (min-width: 800px) {
    .card {
        max-width: 400px;
        display: inline-block;
        overflow: hidden !important;
    }
    .card-wrapper {
        padding-top: 5%;
    }
}

/* skilss */
.skills{
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
}

.skills div h5{
    margin-bottom: 3rem;
    font-weight: bold;
}
  
