*{
    font-family: 'Athiti', sans-serif;
}

/* background de la web  */
.image {
    background-image: url("../assets/images/banner.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: 2px solid green;
}

.portada {
    background: #42465be3;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: 2px solid red;
}

/* ESTILOS LOGO */
.logo {
    transition: 1s ease;
    -moz-transition: 1s ease;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
}

.logo:hover {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/* ANIMACION LETRAS */

.titulo {
    position: absolute;
    top: 17em;
    border: 2px solid red;
}

#text-animation {
    color: transparent;
    font-size: 5em;
}

.ta-letra {
    transition: color 0.2s;
}
