*{
    font-family: 'Roboto', sans-serif;
}

/* estilos header */
.word:hover{
    color: #1ca095;
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
}

/* background de la web  */
.image {
    background-image: url("../assets/images/portada.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.portada {
    background: rgba(15, 15, 15, 0.911);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* estilos navbar */
.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

nav{
    height: 8em;
    padding-right: 2em;
    padding-left: 2em;
}

.nav-wrapper{
    position: absolute;
    top: 3em;
}

/* ESTILOS LOGO */
.logo {
    transition: 1s ease;
    -moz-transition: 1s ease;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
}

.logo:hover {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/* ANIMACION LETRAS */

.titulo {
    padding: 30px 15px;
    position: absolute;
    top: 15em;
}

#text-animation {
    color: transparent;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.ta-letra {
    transition: color 0.2s;
}

/* ------------------------ */
/* estilos del slider */
#slideToOpen {
    position: absolute;
    top: 75%;
    height: 10px;
    left: 40%;
    right: 40%;
    >.ui-slider-handle {
        display: block;
        width: 70px;
        height: 70px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        margin-top: -35px;
        margin-left: -35px;
        left: 0;
        border-radius: 100%;
    }
    >.ui-slider-handle:before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        margin-top: -3px;
        margin-left: -3px;
        transform: rotate(45deg);
        border-top: 2px solid black;
        border-right: 2px solid black;
        z-index: 2;
        opacity: 1;
    }
    >.ui-slider-handle:after {
        content: '';
        position: absolute;
        display: block;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: white;
        border-radius: 100%;
        transition: .25s;
    }
    >.ui-slider-handle:hover {
        cursor: pointer;
    }
    >.ui-slider-handle:hover:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #cache {
        position: fixed;
        top: 75%;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px;
        border: 1px solid white;
        z-index: 88;
        border-radius: 100%;
        transition: 1s;
    }
    #cache:after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        background: white;
        border-radius: 100%;
    }
    #close {
        position: fixed;
        top: 0;
        right: -100px;
        height: 100px;
        width: 100px;
        display: block;
        z-index: 99;
        background: black;
        transition: 0.5s;
    }
    #close:after,
    #close:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        margin-top: -1px;
        margin-left: -5px;
        background: white;
        content: '';
        display: block;
    }
    #close:after {
        transform: rotate(45deg);
    }
    #close:before {
        transform: rotate(-45deg);
    }
}

@keyframes dotGoRight {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 20px;
    }
}

#dot {
    display: block;
    height: 1px;
    background-image: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 35px;
    right: 15px;
    animation: dotGoRight 0.5s infinite linear;
}

#slideToOpen.open {
    #cache {
        background: white;
        width: 12000px;
        height: 12000px;
        margin-top: -6000px;
        margin-left: -6000px;
        border-radius: 0;
    }
    >.ui-slider-handle:before {
        opacity: 0;
    }
    #close {
        right: 0;
        transition-delay: 1s;
    }
}

/* estilos scroll */
.scroll{
    position: absolute;
    bottom: 5%;
    left: 49.3%;
}
.mouse {
    height: 50px;
    width: 35px;
    border-radius: 14px;
    border: 2px solid#1ca095;
}

.mouse:after {
    content: '';
    display: block;
    height: 8px;
    width: 2px;
    margin: 10px auto;
    background: #1ca095;
    position: relative;
    -webkit-animation: a 1.2s ease infinite;
    animation: a 1.2s ease infinite
}

.arrow-scroll {
    width: 35px;
    margin-top: 10px
}

.arrow-scroll>span {
    font-family: Arial, sans-serif;
    display: block;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #1ca095;
    border-bottom: 2px solid #1ca095;
    margin: 5px auto 3px;
    -webkit-animation: b 1s infinite;
    animation: b 1s infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.arrow-scroll>span:first-child {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.arrow-scroll>span:last-child {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

@-webkit-keyframes a {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@keyframes a {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes b {
    0% {
        opacity: 0
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}